*{
  font-family: 'Josefin Sans', sans-serif;
}

div.container{
    background-color: rgba(255,255,255,0.5);
  border-radius:50px;
}

.jumbotron{
  background:none !important;
}

.piano{
  background-image:url("piano.jpg");
  background-attachment:fixed;
  background-size:cover;
  height:100vh;
}

.riviera{
  background-image:url("riviera.jpg");
    background-attachment:fixed;
  background-size:cover;
  height:100vh;
}

.testimonials{
  background-image:url("testimonials.jpg");
    background-attachment:fixed;
  background-size:cover;
  height:200vh;
}

.philosophy{
  background-image:url("philosophy.jpg");   
  background-attachment:fixed;
  background-size:cover;
  height:100vh;
}
.ctact{
  background-image:url("contact.jpg");
    background-attachment:fixed;
  background-size:cover;
  height:100vh;
}

ul{
  list-style-type:none;
}

.scroller{
  border-radius:15px;
  padding:15px 0 15px 0;
  cursor:pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.scroller:hover{
  background-color:#c1cdcd;
  color:white;
}

.testimonial{
}

.doge{
  height:250px;
  width:250px;
  margin:0 25px 25px 0;
  border-radius:25px;
  float:left;
}

.right{
  float:right;
}

.textright{
  margin: 0 25px 0 25px;
}

.spacer{
  height:75px;
}

.mobile{
  display:none;
}

@media screen and (max-width: 480px) {
	div{background-image:none !important; background-color:white;}
  .nonmobile{display:none;}
  .mobile{display:inline;}
}