* {
font-family:Scada;
margin-left:auto;
margin-right:auto;
}

h1{
text-align:center;
}

h3{
text-align:center;
}

h5{
text-align:center;
}

img{
display:block;
}

ul{
list-style-type:none;
}

ol{
list-style-type:none;
padding:0;
}

ol > li{
text-align:center;
}

li{
max-width:50%;
margin-bottom:12px;
}

p{
max-width:50%;
margin-left:auto;
margin-right:auto;
}

div{
margin-left:auto;
margin-right:auto;
}

@media screen and (max-width: 480px) {
	li, p{max-width:100% !important;}
	ul, ol{padding-start:0 !important;}
}