header {
  padding-left:47px;
  font-family:calibri;
  margin:10px;
}

.h1{
  font-size:xx-large;
}

nav {
}

ul {
  list-style-type: none;
  padding-left:55px;
}

li {
  display: inline-table;
  font-family:calibri;
  padding-left:3px;
  padding-right:3px;
  position:relative;
  overflow:hidden;
}

li:hover{
  color:red;
}

ul ul{
  display:none;
}

ul ul li{
  display:block;
  color:black;
  padding-left:0px;
  padding-right:0px;
  right:35px;
}

ul li:hover > ul{
  display:block;
}

div {
  font-family:calibri;
  padding-left:57px;
}

ruth{
  padding-left:0px;
  float:right;
}