header {
  padding-left:47px;
  font-family:Scada;
  margin:10px;
}

.h1{
  font-size:xx-large;
}

nav {
}

nav.ul {
  list-style-type: none;
  padding-left:55px;
}

li {
  display: inline-table;
  font-family:Scada;
  padding-left:3px;
  padding-right:3px;
  position:relative;
  overflow:hidden;
}

div {
  font-family:Scada;
  padding-left:57px;
  max-width:590px;
}

a {
  color:black;
  text-decoration:none;
}

a:hover {
  color:red
}

li.resources{
  display:block;
  max-width:600px;
}

div.left{
	float:left;
	padding-left:0px;
}

img.me{
  margin-left:50px;
}