  <div class="instructions">
  Keyboard Navigation
  <p>h: home</p>
  <p>a: about</p>
  <p>r: resources</p>
  <p>l: links</p>
</div>
<div class="nav">
  <ul>
    <li>
      <a href="javascript:fadeandgotoindex()" class="index" target="_self">home</a>
    </li>
    <li>
      <a href="javascript:fadeandgotoabout()" class="about" target="_self">about</a>
    </li>
     <li>
      <a href="javascript:fadeandgotoresources()" class="resources" target="_self">resources</a>
    </li>
    <li>
      <a href="javascript:fadeandgotolinks()" class="links" target="_self">links</a>
    </li>
  </ul>
</div>