<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "nav.html" . }}
<header class="fade">
	<h1>Links</h1>
</header>
<ul id="links">
<li class="fade">
<h2>Organizations</h2>
<ul class="resources">
{{ range .Data.Pages.ByWeight }}
  {{ if eq .Title "Organizations" }}
<li>
<a href="{{ .Content }}">{{ .Description }}</a>
</li>
{{ end }}
{{ end }}
</ul>
</li>
<li class="fadelater">
<h2>Friends and Colleagues</h2>
<ul class="resources">
{{ range .Data.Pages.ByWeight }}
  {{if eq .Title "Friends and Colleagues" }}
<li>
<a href="{{ .Content }}">{{ .Description }}</a>
</li>
{{ end }}
{{ end }}
</ul>
</li>
<li class="fadelatest">
<h2>Tools and Toys</h2>
<ul class="resources">
{{ range .Data.Pages.ByWeight }}
  {{ if eq .Title "Tools and Toys" }}
<li>
<a href="{{ .Content }}">{{ .Description }}</a>
</li>
{{ end }}
{{ end }}
</ul>
</li>
</ul>
</body>
</html>