<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "nav.html" . }}
<header class="fade">
<h1>Resources</h1>
</header>
{{ range .Data.Pages.ByWeight }}
{{ if eq .Params.cat "heading" }}
{{ if not (eq .Weight 1) }}
</ul>
{{ end }}
<header>
<h2>{{ .Title }}</h2>
</header>
<ul>
{{ end }}
{{ if eq .Params.cat "text" }}
{{ .Content }}
{{ end }}
{{ if eq .Params.cat "link" }}
<li class="fadelatest"><a href="{{ .Params.href }}">{{ .Content }}</a></li>
{{ end }}
{{ if eq .Params.cat "linklast" }}
<li class="fadelatest"><a href="{{ .Params.href }}">{{ .Content }}</a></li>
</ul>
{{ end }}
{{ end }}
</body>
</html>