body{
background-color:black;
font-family:Ubuntu Condensed;
color:#add8e6;
}

nav{
margin-left: auto;
margin-right: auto;
display: none;
text-align: center;
-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-ms-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;
}

h1{
text-align:center;
margin-bottom:100px;
}

div.center {
margin-left: auto;
margin-right: auto;
text-align:center;
-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-ms-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;
}

div.portrait {
width:180px;
height:180px;
margin-left:auto;
margin-right:auto;
margin-bottom:25px;
-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-ms-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;
background-image:url("susanna.png");
}

div.portrait:hover{
background-image:url("invert.png");
}

a {
margin: 0 12px;
color:#add8e6;
text-decoration:none;
}

a:hover {
color:white;
}

.content{
display:none;
margin-top:35px;
margin-bottom:35px;
width:75%;
}