body {
    background-image: url("space.jpg");
    font-family:Alegreya;
}

h1.name {
    font-size:75px;
    text-align:center;
}

img.portrait {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:30px;
}

div {
    width:50%;
    border-radius:7px;
    background-color: rgba(255,255,255,0.6);
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.links{
    position:absolute;
    width:300px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}

@media screen and (max-width: 480px) {
	div{width:initial;}
	div[class="links"]{position:initial; bottom:initial; right:initial; left:initial; margin-left:auto; margin-right:auto;}
	body{background-image: none; background-color:black;}
}