*{
  font-family:Lora;
}

body{
  background:url(http://coreymcgrath.me/project/church.jpg)
}

header > div{
  background-color: rgba(255,255,255,0.6);
  text-align:center;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  border-radius:7px;
  margin-bottom:50px;
}

header > div > h1{
  padding-top:10px;
  margin:0px;
  font-size:50px;
}

header > div > h2{
  margin:5px;
  padding-bottom:10px;
  font-size:30px;
}

main > div.left{
  background-color: rgba(255,255,255,0.6);
  text-align:center;
  width:400px;
  float:left;
  border-radius:7px;
  margin:25px;
  padding-top:10px;
  padding-bottom:10px;
}

main > div.right{
  margin-left:auto;
  margin-right:auto;
}

main > div > div{
  background-color: rgba(255,255,255,0.6);
  text-align:center;
  width:550px;
  border-radius:7px;
  margin:25px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}

main > div > div > p{
  margin:4px 8px;
  padding:0px;
  background-color:initial;
}

main > div > div.nav{
padding-bottom:35px;
text-align:center;
}

div > ul > li{
  list-style-type:none;
  float:left;
  margin-right:3px;
}

div > ul{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 480px) {
	main > div{width:100%; !important;}
	header > div{width:100%; !important;}
	main > div > div{width:100%; !important;}
	div > ul{margin-bottom:100px; !important;}
}